<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://monorail.proxy.rlwy.net:43907/railway</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">HGgb--fcgcd--G1Dc6CaDc3cbaHEDg2A</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.entity.Note"/>

       
    </session-factory>

</hibernate-configuration>
