<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://roundhouse.proxy.rlwy.net:11488/railway</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Fab1-4a-3BBDGG*AfA5BaBGE-2fD6Gba/property>
 
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="com.entity.Note"/>

       
    </session-factory>

</hibernate-configuration>
